* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code";
    font-size: 13px;
    min-height: 0;
    text-shadow: 2px 2px 2px black;
}

window#waybar {
    background: transparent;
    color: #f8f8f2;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #f8f8f2;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    color: #ffb86c;
    border-bottom: 2px solid #ffb86c;
}

#mode {
    background: #64727D;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 4px;

    padding-left: 5px;
    padding-right: 5px;
}

.modules-right {
    margin-right: 8px;
}

#clock, #custom-timew, #language, #wireplumber, #network, #cpu, #memory, #temperature {
    font-weight: bold;
    text-shadow: none;

    border-width: 0;
    border-radius: 10px;

    padding: 2px 9px;
    margin-top: 4px;
    margin-bottom: 0px;

    color: #282a36;
}

#custom-timew, #language, #wireplumber, #network, #cpu, #memory, #temperature {
    margin-left: 12px;

    background: #bd93f9;
}

#clock {
    background: #ff79c6;
}

#language.ca, #custom-timew.inactive {
	background: #ffb86c;
}

#network.disconnected, #wireplumber.muted {
    background: #f53c3c;
}
