* {
    font-family: "Fira Code";
    font-size: 12px;

    border-radius: 5px;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    color: #ff79c6;
    background-color: #282a36;
    border: 2px solid transparent;

    margin: 3px 3px;
    padding: 1px 10px;
}

#workspaces button:hover {
    background: #44474a;

    border: 2px solid #ff79c6;
    border-bottom: 2px solid #ff79c6;

    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    color: #8be9fd;
    border: 2px solid #8be9fd;
}

#workspaces button.persistent {
    color: #44475a;
}

#mode {
    background: #64727D;
    color: #f8f8f2;

    margin: 6px 3px;
    padding: 0 5px;
}

#clock, #custom-timew, #language, #pulseaudio, #network, #cpu, #memory, #temperature {
    font-weight: bold;
    color: #f8f8f2;

    padding: 0px 20px;
    margin: 3px 5px;

    border: 2px solid #ff79c6;
    background-color: #282a36;
    border-top: none;
    border-left: none;
}


#language.ca, #custom-timew.inactive {
    color: #ff79c6;
}

#network.disconnected {
    color: #f53c3c;
}
